.hero{
    background: -webkit-linear-gradient( #610a72, #d0b0d6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  @keyframes marquee-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-marquee-left {
    animation: marquee-left 20s linear infinite;
  }
  
  .animate-marquee-right {
    animation: marquee-right 20s linear infinite;
  }